 {% load static %}

<section class="final">
  <img src="{% static 'assets/images/image.jpeg' %}" alt="">
  <input type="hidden" value="{{todaysdate.date}}" class="verseOfInput">
  <div class="more-p">
    <p>
      "Neither death, nor life, nor angels, nor rulers, nor things present, nor things to come, nor powers, nor height, nor depth, nor anything else in all creation, will be able to separate us from the love of God in Christ Jesus our Lord."
    </p>
    <span>
      ROMANS 8: 38-39
    </span>
  </div>
</section>