<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/universal.css' %}">
  <link rel="stylesheet" href="{% static 'styles/archdeaconaries.css' %}">
  <link rel="stylesheet" href="{% static 'styles/newmobile.css' %}">
  <link rel="icon" type="image/png" href="{% static 'assets/images/kericho.png' %}">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://kit.fontawesome.com/f58d60dffb.js" crossorigin="anonymous"></script>
  <title>Archdeaconary Of {{name}}</title>
</head>
<body>
  <header>
    <a href="{% url 'home' %}">
      <img src="{% static 'assets/images/kericho.png' %}" alt="">
      ARCHDEACONARY OF {{name}}
    </a>
    <div class="more">
      <ul class="js-ul">
        <li>
          <a href="{% url 'home' %}">
            Home
          </a>
        </li>
        <li><a href="#parishes">
          Parishes
        </a></li>
      </ul>
      <div class="hashbar-container" >
        <div class="hashbar"></div>
        <div class="hashbar"></div>
        <div class="hashbar"></div>
      </div>
    </div>
  </header>

  <body>
    <section class="archdeacons-message">
      <div class="message">
        <span>THE CHURCH IS NOT A BUILDING</span>
        <h2>The church is the people of God within the world being agents of hope</h2>
        <p>
          This vibrant community of action takers and careful stewards of a historic facility are listening to the call of the Spirit and our community and looking for authentic, engaging, progressive, caring, rooted, and justice-seeking ways of being the church in the time of great upheaval.
        </p>
      </div>
      <img src="{% static 'assets/images/home-1.webp' %}" alt="">
    </section>

     {% block arch %}
       
     {% endblock arch %}

    <section class="short">
      <h2>Our foundational Beliefs </h2>
      <ul>
        <li><a href="https://www.anglicancommunion.org/theology/doctrine/foundations.aspx">
          Scriptures
        </a></li>
        <li><a href="https://www.anglicancommunion.org/theology/doctrine/foundations.aspx">
          Ancient Creeds
        </a></li>
        <li><a href="https://www.anglicancommunion.org/theology/doctrine/foundations.aspx">
          Distinctive ways of worship
        </a></li>
      </ul>
    </section>

    {% block archdeaconaries %}
      
    {% endblock archdeaconaries %}

    

    {% include "archverseof.html" %}
  </body>

  <script>
    document.querySelector('.hashbar-container').onclick = () =>{
      document.querySelector('.js-ul').toggleAttribute('data-active')
    }

    const parish =[...document.querySelectorAll('.js-h2')]
    parish.forEach( parish =>{
      parish.addEventListener('click' , ()=>{
        const parishHolder = parish.closest('.parish')        
        parishHolder.querySelector('p').toggleAttribute('data-active')
      })
    })
  </script>
  <script src="{% static 'scripts/verses.js' %}"></script>
</body>
</html>