  {% extends "main.html" %}
  {% block head %}
  {% load static %}
   <link rel="stylesheet" href="{% static 'styles/cathedral.css' %}">
  <link rel="stylesheet" href="{% static 'styles/newmobile.css' %}">
  <script src="https://kit.fontawesome.com/f58d60dffb.js" crossorigin="anonymous"></script>
  <script src="{% static 'scripts/universal.js' %}" defer></script>
  <title>cathedral kericho</title>

  {% endblock %}
  {% block main %}
  
<body>
  <header>
    <div class="holy-trinity">
      <h2>HOLY TRINITY</h2>
    </div>
    <div class="hero">
      <ul>
        <li>
          <a href="{% url 'home' %}">
            HOME
          </a>
        </li>
        <li><a href="#faq">NEW TO THE CHURCH ?</a></li>
      </ul>

      <div class="socials">
        <ul>
          <li>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-twitter" aria-hidden="true">
             
            </i>
          </li>
          <li>
            <i class="fa fa-facebook-official" aria-hidden="true"> 
            <a href=" https://www.facebook.com/ackkcodioc">
              
            </a></i>          
          </li>
        </ul>
      </div>
    </div>

    <div class="hashbar-container" >
      <div class="hashbar"></div>
      <div class="hashbar"></div>
      <div class="hashbar"></div>
    </div>
  </header>

  <main>
    <div class="cathedral-banner">
      <div class="cathedral-dimmer">
        <div class="banner-intro">
          <h2>
            welcome to the holy trinity
          </h2>
        </div>
        
        <div class="banner-int">
          <h2>
            CELEBRATING AND PROCLAIMING THE GOOD NEWS OF THE GOSPEL
          </h2>

          <span>
            Join us for worship Every  Sunday
          </span>
        </div>
      </div>
    </div>

    <div class="welcoming-message">
      <div class="holder-welcome">
        <span>WELCOME TO OUR FAMILY</span>
        <p>
          We welcome people of all Christian traditions as well as people of other faiths and people of little or no faith. We encourage you to become a part of our vibrant and loving congregation.
        </p>
        <a href="https://www.anglicancommunion.org">
          <button>
            FIND OUT MORE
          </button>
        </a>        
      </div>
    </div>

    {% if upcoming.EventName %}
        <div class="cathedral-events">
      <span><h2>UPCOMING EVENTS</h2></span>
      <div class="events-fold">
        <div class="events-con">
          <!-- <div class="date">
            <span class="month">jun</span>
            <span class="day">
              26
            </span>
          </div> -->
          <div class="event">
            <span class="time">
             {{upcoming.Date}}
            </span>
            <span class="event-con">
             {{upcoming.EventName}}
            </span>
          </div>
        </div>

        <div class="events-con">
        <!-- <div class="date">
          <span class="month">jun</span>
          <span class="day">
            26
          </span>
        </div> -->
        <div class="event">
          <span class="time">
            {{next.Date}}
          </span>
          <span class="event-con">
            {{next.EventName}}
          </span>
        </div>
        </div>
      </div>
        
      </div>
    </div>
    {% endif %}



    <div class="more-about-anglican">
      <div class="the-words">
        <div class="inner-holder">
          <span>
            WHAT IS ANGLICAN CHURCH?
          </span>
          <h2>
            The Cathedral is an Accessible Anglican Church in kericho
          </h2>
          <p>
            Anglicanism is a worldwide body of Christians responding to God’s revelation through Jesus Christ. Anglicanism brings together the authority of the Bible, the historic faith, and the beauty of structured prayer. It is rooted in tradition, yet contemporary in practice. It is united in substance, yet diverse in expression. We are a global family living out our faith in local communities.
          </p>
          <a href="https://www.anglicancommunion.org">
            <button>
              LEARN MORE
            </button>
          </a>
        </div>
      </div>
      <div class="holt">
        <img src="{% static 'assets/images/holy-trinity.jpg' %}" alt="">
      </div>
    </div>

    <div class="another-section">
      <div class="provost-img">
        <img src="{% static 'assets/images/priest-template.jpg' %}" alt="">
      </div>
      <div class="the-other">
        <span>provost's message</span>
        <h2>Welcome Word from Our Provost</h2>
        <p>Whether you are drawn to our church for worship; for the beauty of music, art and architecture; or simply for a place of quiet and reflection, we hope you will find what you seek, and sense the presence of the Spirit in this place.
          Ascension is an Episcopal church: an open, lively, inclusive community of Christians who gather to proclaim the good news of God’s love for all people. The center of our life together is the Holy Eucharist, which we celebrate on Sundays at 9 am, 11 am (with full choir), as well as on Wednesdays at 6 pm. Please join us — all are invited to the Lord’s Table.</p>
          <p>We hope you will join us for worship, and share in our journey of faith.</p>
      </div>
    </div>

      {% include "verse.html" %}

      {% include "newtochurch.html" %}

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1275.255946334102!2d35.2860388312449!3d-0.3711818020779313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182a57112e54b3e9%3A0x5e1ce8e94163a122!2sACK%20New%20Holy%20Trinity%20Cathedral!5e0!3m2!1sen!2ske!4v1717960553550!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </main>

  <footer>
    <div class="footer-elements">
      <h2>services</h2>
      <ul>
        <li>English service - 7-9am</li>
        <li> Kiswahil servivce 9:30 - 12:30am</li>
        <li>Teen service 8:30 -10:30am </li>
      </ul>
    </div>
    <div class="footer-elements">
      <h2>Find Us</h2>
      <p>
        <span class="fa-map-marker">
        ACK  Holy Trinity Cathedral
        <br>
        kericho
        <br>
        opposite moi gardens
        </span>
         <i class="fa fa-map-marker" aria-hidden="true">
         </i>
      </p>
    </div>
    <div class="footer-elements">
      <h2>
        Contact Us
      </h2>
      <ul>
        <li>
          <a href="tel:+254 717 267 442">
            <i class="fa fa-phone" aria-hidden="true"></i>
          +254 717 267 442
          </a>
        </li>
        <li>
          <a href="mailto:ackkcodioc@gmail.com">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
           ackkcodioc@gmail.com
          </a>
        </li>
        <li>
    </div>
    <div class="last">
      &copy; 2024  ACK
       DIOCESES OF KERICHO &#10073;
       all rights reserved
    </div>
  </footer>
  <script >
    const hashbar = document.querySelector('.hashbar-container')
    const contextMenu = document.querySelector('.hero')
    hashbar.onclick = () =>{
      contextMenu.toggleAttribute('data-active')
    }

    const dropDown = document.querySelectorAll('.context')

    dropDown.forEach( dropDown =>{
      dropDown.addEventListener('click', () =>{
        const clickable = dropDown.querySelector('.added')
        clickable.toggleAttribute('data-active')
        dropDown.querySelector('.fa-chevron-down').toggleAttribute('data-active')
        //console.log(dropDown.querySelector('.fa-chevron-down'))
      })
    })

    document.querySelector('.fa-map-marker').onclick = () =>{
      const map =[...document.querySelector('.map').children]
      map.forEach( map =>{
        map.toggleAttribute('data-active')
      })
    }

  </script>
  <script src="{% static 'scripts/verses.js' %}"></script>
</body>
{% endblock main %}