<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width= device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/mobile.css">
  <link rel="icon" type="image/png" href="assets/images/kericho.png">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://kit.fontawesome.com/f58d60dffb.js" crossorigin="anonymous"></script>
  <script src="scripts/main.js" defer></script>
  <title>ACK-KERICHO</title>
</head>
<body>

<div class="top-header">
  <div class="top-header-contents logo-container">
    <div><img src="assets/images/kericho.png" alt="ack-kericho-logo" class="logo"></div> 
    <p class="logo-words">ACK DIOCESE OF KERICHO</p>
  </div>
  <div class="top-header-contents top-cont">
    <span class="top-words">Cathedral</span>&#10073;
   <div class="header-info">
      <span class="top-words">Departments</span>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      <div class="extension-info">
        <i class="fa fa-sort-asc" aria-hidden="true"></i>
        <ul>
          <li>sunday school</li>
          <li>kayo</li>
          <li>kama & mu</li>
        </ul>
      </div>
   </div>
   &#10073;

    <div class="header-info">
      <span class="top-words">Programs</span>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      <div class="extension-info">
        <i class="fa fa-sort-asc" aria-hidden="true"></i>
        <ul>
          <li><a href="https://www.adssouthrift.org/" target="_blank">ADS South Rift</a></li>
          <li>Farmers Field School</li>
          <li>Micro-Finance KCDT</li>
        </ul>
      </div>
    </div>   
    &#10073;

    <div class="header-info">
      <span class="top-words">Facilities</span>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      <div class="extension-info">
        <i class="fa fa-sort-asc" aria-hidden="true"></i>
        <ul>
          <li>ACK Grace Restaraunt & Conference Centre</li>
          <li>Kilgoris G-House</li>
          <li>Narok G-house</li>
          <li>Emphiris Mara</li>
        </ul>
      </div>
    </div>
    &#10073;
  </div>

  <div class="hashbar-container" >
    <div class="hashbar"></div>
    <div class="hashbar"></div>
    <div class="hashbar"></div>
  </div>

</div>

<div class="cathedral-box">

  <div class="background-dimmer">

    <div class="slider-frame">

      <div class="slide-images">

        <div class="img-container">
          <span class="title-slider"><h2>Mission Statement</h2></span>
          <br>
          <span class="content-slider">
            To bring all people into a living relationship with God through Jesus Christ by preaching, teaching, healing and social transformation that enables them to grow in the faith, hope and love to live life in its fullness.
          </span>
        </div>

        <div class="img-container">
          <span class="title-slider"><h2>vision Statement</h2></span>
          <br>
          <span class="content-slider">
            ACK Kericho Diocese envisions
            a vibrant empowered ACK Church whose individuals actively bears witness of God’s perfect will of love for mankind through Jesus Christ demonstrated in their character and behavior.
          </span>
        </div>

        <div class="img-container">
          <span class="title-slider"><h2>Mission Statement</h2></span>
          <br>
          <span class="content-slider">
            To bring all people into a living relationship with God through Jesus Christ by preaching, teaching, healing and social transformation that enables them to grow in the faith, hope and love to live life in its fullness.
          </span>
        </div>

      </div>

    </div>

  </div>
  
</div>

<div class="mid-container">
  <span class="mid-header">WORD FROM OUR BISHOP</span>
  <div class="bishop-container">
    <div class="bishop-pic">
      <img src="assets/images/bishop.jpg" alt="right reverend ernest ngeno">
    </div>
    <div class="bishop-words">
      <span class="bishop-wrds">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut natus repudiandae vero, maiores corporis ea animi aspernatur porro excepturi cupiditate, aut possimus perspiciatis consectetur adipisci dolor ab explicabo tempora eum. Eos quae labore voluptas ratione quam! Deserunt ad et ex tenetur praesentium accusantium? Consectetur, placeat.
      </span>
      <br>
      <br>
      <span class="bishop-name">
        RT REV ERNEST NGENO
        <br>
        BISHOP OF THE DIOCESE OF KERICHO
      </span>     
    </div>
  </div>
</div>

<div class="archdeaconaries-container">
  <p class="arch-title">OUR ARCHDEACONARIES</p>
  <div class="arch-grid">
    <div class="arch" data-aos="zoom-in">
      <img src="assets/images/kericho.jpg" alt="archdeaconary of kericho">
      <div class="arch-name">
        <div class="arch-in">
          Kericho
        </div>
      </div>
    </div>

    <div class="arch" data-aos="zoom-in">
      <a href="SotikArchdeaconary.html">
        <img src="assets/images/sotik.jpg" alt="archdeaconary of kericho">
      <div class="arch-name">
        <div class="arch-in">
          Sotik
        </div>
      </div>
      </a>
    </div>

    <div class="arch" data-aos="zoom-in">
      <img src="assets/images/narok.jpg" alt="archdeaconary of kericho">
      <div class="arch-name">
        <div class="arch-in">
          Narok
        </div>
      </div>
    </div>

    <div class="arch" data-aos="zoom-in">
      <img src="assets/images/kericho.jpg" alt="archdeaconary of kericho">
      <div class="arch-name">
        <div class="arch-in">
         Transmara
        </div>
      </div>
    </div>     
    
  </div>
</div>

<div class="dept-container">
  <div class="dept" title="Kenya Anglican Mens Association" data-aos="fade-in">
    <img src="assets/images/KAMA.png" alt="" class="dept-img">
    <div class="dept-desc">
      <div class="dept-overlay">
        KAMA
      </div>
    </div>
  </div>

  <div class="dept" title="kenya anglican youth organisation" data-aos="fade-in">
    <img src="assets/images/kayo.jpeg" alt="" class="dept-img">
    <div class="dept-desc">
     <div class="dept-overlay">
       KAYO
     </div>
    </div>
  </div>

  <div class="dept" title="mothers union" data-aos="fade-in">
    <img src="assets/images/MU.png" alt="" class="dept-img">
    <div class="dept-desc">
      <div class="dept-overlay">
        MU
      </div>
    </div>
  </div>
</div>

<div class="para">
  <p class="core-values"> Our Core Values</p> 
  <p class="core-intro">The organizational life and ministry operations are guided by the following core values:</p> 
  <ul>
    <li class="core-value"><i class="fa-solid fa-cross"></i> Adherence to Christian ethics, practice of orthodox Anglican beliefs and traditions; </li>
    <li class="core-value" ><i class="fa-solid fa-dove"></i> Faith in God and obedience to the Holy Scriptures, wise counsel and guidance of holy spirit;</li>
    <li  class="core-value"><i class="fa-solid fa-hand-holding-heart"></i> Love and care for all God’s people the poor and the disadvantaged irrespective of race, religion or any other difference; </li>
    <li  class="core-value" ><i class="fa-solid fa-hands-holding-child"></i> Good stewardship, accountability, truthfulness and honest service to God and all people in the use of resources placed upon our care;</li>
    <li  class="core-value" ><i class="fa-solid fa-handshake-simple"></i> Hard work aided by competence and confidence for quality and satisfactory results;</li>
    <li  class="core-value" ><i class="fa fa-certificate" aria-hidden="true"></i> High regard for standards and professionalism;</li>
    <li  class="core-value" ><i class="fa fa-users" aria-hidden="true"></i> Determination and commitment;</li>
  </ul>
</div>

<div class="info-container">
  <div class="info">
    find us
    <br>
    <i class="fa fa-phone" aria-hidden="true"></i>
    07xx xxx xxxx
    <br>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    communications@ack-kericho.org
    <br>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    Kericho,kenya
  </div>
  <div class="info">
    Our partners
    <br>
    CCNP
    <br>
    Christian Aid
    <br>
    Compassion
  </div>
  <div class="info">
    About us
    <br>
    Our History
    <br>
    The Anglican Church
  </div>
</div>

<footer class="footer">
  <div class="close">
   <img src="assets/images/ack-kericho.png" alt="" class="logo">
   &copy; 2024  ACK
   <br> DIOCESES OF KERICHO
  
  </div>
   <div class="info footer-info">
     Connect with us
     <br>
     <i class="fa fa-instagram" aria-hidden="true"></i>
     <i class="fa fa-twitter" aria-hidden="true"></i>
     <i class="fa fa-facebook-official" aria-hidden="true"></i>
     <br>
     {% for room in rooms%}
         <div>
          {{ room.id}}
         </div>
     {% endfor%}
     <p class="ad">design by bett</p>    
   </div>
 </footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init(
      {
        duration: 3000,
        mirror: true
      }     
    );
  </script>

</body>
</html>