  {% extends "main.html" %}

  {% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/newinterface.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="{% static 'styles/newmobile.css'%}">
  <script src="https://kit.fontawesome.com/f58d60dffb.js" crossorigin="anonymous"></script>
  <script src="{% static 'scripts/universal.js' %}" defer></script>
  
  <title>ACK kericho Diocese</title>
  {% endblock  %}

  {% block main %}
  <body>
  <header class="active-header">
    <img src="{% static 'assets/images/kericho.png' %}" alt="">
    
    <div class="hashbar-container" >
      <div class="hashbar"></div>
      <div class="hashbar"></div>
      <div class="hashbar"></div>
    </div>
  </header>

  <div class="context-menu">
    <span class="x">&#88;</span>
    <div class="context-items">
      <a href="{% url 'cathedral' %}">
        cathedral
      </a>
    </div>
    <div class="context-items clickable">
      <a href="#dept">
        departments
      </a>
    </div>
    <div class="context-items clickable">
      <a href="https://www.adssouthrift.org/">
        Missions
      </a>
    </div>
    <div class="context-items clickable">
      <a href="#arch">
        Archdeaconaries
      </a>
    </div>
    <div class="context-items clickable">
      <a href="{% url 'clergy'%}">
        Clergy
      </a>
    </div>
    {% if upcoming.EventName %}
      <div class="context-items clickable">
        <a href="{% url 'events' %}">
          Events
        </a>
      </div>
    {% endif %}
    <div class="context-items clickable">
      <a href="#facilities">
        Facilities
      </a>
    </div>
    <div class="context-items clickable">
      <a href="{%  url 'gallery' %}">
        Gallery
      </a>
    </div>
    <div class="context-items clickable">
      <a href="https://www.anglicancommunion.org/">
        About Us
      </a>
    </div>
  </div>

  <main class="main">
    <section>
      <div class="carousel">
        <div class="carousel-button" data-carousel = "prev">&#8656;</div>
        <div class="carousel-button" data-carousel="next">&#8658;</div>
        <div class="intro"  data-active>
          <img src="{% static 'assets/images/random.jpg'%}" alt="">
          <div class="background-dimmer">
            <div class="background-words">
              <h2>OUR VISION</h2>
              <br>
              <p>
                Honour God , Serve People
              </p>
            </div>
          </div>
        </div>
        <div class="intro">
          <img src="{% static 'assets/images/random2.jpeg'%}" alt="">
          <div class="background-dimmer">
            <div class="background-words">
              <h2>OUR MISSION</h2>
              <br>
              <p>
                Transform Society through the local church ,creating believing and self-sustaining
                communities where life happens
              </p>
            </div>
          </div>
        </div>
        <div class="intro">
          <img src="{% static 'assets/images/bible.jpg' %}" alt="">
          <div class="background-dimmer">
            <div class="background-words">
              <h2>THEME OF THE YEAR</h2>
              <br>
              <p>
                "Making the most of every of opportunity"
                <br>
                <span class="quoted-word">
                  EPHESIANS 5:16a
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>

      {% if upcoming.EventName %}
        <div class="events-hero">
        <div class="exp">
          <div class="highlight">
            UPCOMING EVENT
          </div>
          <p>
            <h2>{{upcoming.EventName}}
            </h2>
          </p>
        </div>
    
        <div class="time">
          <div class="events-head">
            meet us at : {{upcoming.venue}} <br>
            on {{upcoming.Date}}
          </div>
        </div>    
        </div>
      {% endif%}
     

      <div class="mid-container">
        <div class="bishop-container">
          <div class="bishop-pic">
            <img src="{% static 'assets/images/bishop.jpg' %}" alt="right reverend ernest ngeno">
          </div>
          <div class="bishop-words">
            <span class="mid-header"> FROM THE BISHOP</span>
            <span class="bishop-wrds">
             <br>
              I greet you all in the Name of Jesus Christ thank God for this day and for the privilege to be a servant of God in His church. The Anglican Communion is a family of 42 autonomous and independent-yet-interdependent national, pan-national and regional churches in communion with the see of Canterbury.The diocese of Kericho being  adipisci perferendis suscipit nihil expedita laborum inventore sapiente alias reiciendis quos illo aut dolorum molestiae possimus. Itaque aliquam rem omnis aut quo quidem porro facere culpa, unde autem. Quasi alias magni aperiam totam!
            </span>
            <br>
            <span class="bishop-name">
              RT REV ERNEST NGENO
              <br>
              BISHOP OF THE DIOCESE OF KERICHO
            </span>   
          </div>
        </div>
      </div>

      <div class="archdeaconaries-container" id="arch">
        <p class="arch-title">OUR ARCHDEACONARIES</p>
        <div class="arch-grid">
          <div class="arch" data-aos="zoom-in">
            <a href="{% url 'kericho' %}">
              <img src="{% static 'assets/images/kericho.jpg' %}" alt="archdeaconary of kericho">
            <div class="arch-name">
              <input type="hidden" name="kericho" value="kericho">
              <div class="arch-in">
                Kericho
              </div>
            </div>
            </a>
          </div>
      
          <div class="arch" data-aos="zoom-in">
            <a href="{% url 'sotik' %}">
              <img src="{% static 'assets/images/sotik.jpg' %}" alt="archdeaconary of kericho">
              <div class="arch-name">
                <input type="hidden" name="Sotik" value="Sotik">
                <div class="arch-in">
                  Sotik
                </div>
              </div>
            </a>
          </div>
      
          <div class="arch" data-aos="zoom-in">
            <a href="{% url 'narok' %}">
              <img src="{% static 'assets/images/narok.jpg' %}" alt="archdeaconary of kericho">
            <div class="arch-name">
              <form action="" method="POST">
                <input type="hidden" name="Narok" value="Narok">
              </form>
              <div class="arch-in">
                Narok
              </div>
            </div>
            </a>
          </div>
      
          <div class="arch" data-aos="zoom-in">
            <a href="{% url 'transmara' %}">
              <img src="{% static 'assets/images/kericho.jpg' %}" alt="archdeaconary of kericho">
            <div class="arch-name">
              <input type="hidden" name="Transmara" value="Transmara">
              <div class="arch-in">
               Transmara
              </div>
            </div>
            </a>
          </div>     
          
        </div>
      </div>


      {% include "verse.html" %}

      
      <section class="short">
        <h2>Our foundational Beliefs </h2>
        <ul>
          <li><a href="https://www.anglicancommunion.org/theology/doctrine/foundations.aspx">
            Scriptures
          </a></li>
          <li><a href="https://www.anglicancommunion.org/theology/doctrine/foundations.aspx">
            Ancient Creeds
          </a></li>
          <li><a href="https://www.anglicancommunion.org/theology/doctrine/foundations.aspx">
            Distinctive ways of worship
          </a></li>
        </ul>
      </section>
  

      <div class="thissection" id="dept">
        <div class="section-words">
          our departments
          <br>
          purpose for all ages
        </div>
        <div class="dept-holder">
          <div class="dept-grid">
            <div class="dept-container">
              <img src="{% static 'assets/images/kama-steal.jpg' %}" alt="">
              <div class="overlay-dept">
                <img src="{% static 'assets/images/KAMA.png' %}" alt="">
                 <a href="{% url 'kama' %}">
                  <div class="overlay">
                    KAMA
                   </div>
                 </a>
              </div>
            </div>

            <div class="dept-container">
              <img src="{% static 'assets/images/MU.jpg' %}" alt="">
              <div class="overlay-dept">
                <img src="{% static 'assets/images/MU.png' %}" alt="">
                <a href="{% url 'mu' %}">
                  <div class="overlay">
                    MU
                  </div>
                </a>
              </div>
            </div>

            <div class="dept-container">
              <img src="{% static 'assets/images/youths.jpg' %}" alt="">
              <a href="{% url 'kayo' %}">
                <div class="overlay-dept">
                  <img src="{% static 'assets/images/kayo.png' %}" alt="">
                  <a href="{% url 'kayo' %}">
                    <div class="overlay">
                      KAYO
                    </div>
                  </a>
                </div>
              </a>
            </div>

            <div class="dept-container">
              <img src="{% static 'assets/images/sundayschool.avif' %}" alt="">
              <a href="{% url 'sschool' %}">
                <div class="overlay-dept">
                  <img src="{% static 'assets/images/sundayschool.jpg' %}" alt="">
                <div class="overlay">
                  SUNDAY SCHOOL
                </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>      
    </section>

    {% include "newtochurch.html" %}

    <section class="discover" id="facilities">
      <h2>Discover More</h2>
      <div class="discover-more">
        <div class="discover-holders">
          <a href="https://www.adssouthrift.org/">
            <img src="{% static 'assets/images/ads-kenya.webp' %}" alt="">
            <span>ads</span>
          </a>
        </div>
        <div class="discover-holders">
          <a href="{% url 'schools' %}">
            <img src="{% static 'assets/images/holy-trinity-academy.jpg' %}" alt="">
            <span>ackkcodioc schools</span>
          </a>
        </div>
        <div class="discover-holders">
         <a href="https://maraempiris.org/">
          <img src="{% static 'assets/images/auditorium.webp' %}" alt="">
          <span>ackkcodioc facilities</span>
         </a>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <img src="{% static 'assets/images/rev.jpg' %}" alt="">
    <div class="overlay-footer">
      <div class="footer-holder">
        <div class="footer-container" id="about-us">
          <h2>About Us</h2>
          <p>
            The Anglican Communion is a family of 42 autonomous and independent-yet-interdependent national, pan-national and regional churches in communion with the see of Canterbury.
          </p>
          <a href="https://www.anglicancommunion.org">
            <button>
              LEARN MORE
            </button>
          </a>
        </div>
        <div class="footer-container">
          <h2>
            Find us
          </h2>
          <ul>
            <li>
              <a href="tel:+254 717 267 442">
                <i class="fa fa-phone" aria-hidden="true"></i>
              +254 717 267 442
              </a>
            </li>
            <li>
              <a href="mailto:ackkcodioc@gmail.com">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
               ackkcodioc@gmail.com
              </a>
            </li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Kericho,kenya
            </li>
          </ul>
        </div>
        <div class="footer-container" id="socials">
          <h2>
            Connect with us
          </h2>
          <ul>
            <li>
              <i class="fa fa-instagram" aria-hidden="true"> ackKericho</i>
            </li>
            <li>
              <i class="fa fa-twitter" aria-hidden="true">
                ackKericho
              </i>
            </li>
            <li>
              <i class="fa fa-facebook-official" aria-hidden="true"> 
              <a href=" https://www.facebook.com/ackkcodioc">
                ackkcodioc
              </a></i>
              
            </li>
          </ul>
        </div>
      </div>

      <div class="last">
        &copy; 2024  ACK
         DIOCESES OF KERICHO &#10073;
         all rights reserved
      </div>
    </div>
  </footer>
  



  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
   
    AOS.init(
      {
        duration: 3000,
        mirror: true
      }     
    );

  </script>
  <script   src="{% static 'scripts/main.js'%}" > </script>
  <script src="{% static 'scripts/verses.js' %}"></script>

</body>
{% endblock main %}
