<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="icon" href="{% static 'assets/images/kericho.png' %}">
  <link rel="stylesheet" href="{% static 'styles/universal.css' %}">
  <link rel="stylesheet" href="{% static 'styles/kayo.css' %}">
  <link rel="stylesheet" href="{% static 'styles/newmobile.css' %}">
  <script src="{% static 'scripts/universal.js' %}" defer></script>
  <title>Document</title>
</head>
<body>
  <header>
    <img src="{% static 'assets/images/kayo.png' %}" alt="">
    <h2>KENYA ANGLICAN YOUTH ORGANISATION</h2>
    <h4>Kericho</h4>
  </header>

  <main>
    <section class="make">
      <img src="{% static 'assets/images/youth.avif' %}" alt="">
      <div class="words-yth">
        <h2>
          A Diverse and Inclusive Community
        </h2>

        <p>
          I urge you brothers in view of God's mercy to offer your body as a living sacrifice ,holy and pleasing to God <br>
          <span class="versed">
            Romans 12 v1
          </span>
        </p>

        <p>
          Trying to lead a life in christ can be quite a demanding task.Adding youth to obstacles faced in your journey can make it seem even the more daunting.we as teenagers and young adults may face greater struggles than those in other age categories because new temptations clash with inexperience, and that can translate into disaster.As young people we are still learning how to handle the world. Without the wisdom and life experience older generations rely on to overcome temptation, a young person can feel at a loss when pursuing godliness in an ungodly world. 
        </p>

        <p>
          As an organisation KAYO  aims to hold your hand in navigating this times as you strive to live a life with christ. To provide a community Where everyone feels like they belong, we are stronger and smarter together. We’re  community driven to make the world a better place
        </p>

      </div>
    </section>

    <section class="make">
      <div class="words-yth">
        <h2>
          LIVING FOR GOD
        </h2>

        <p>
          Do not be confromed by the patterns of this world but be transformed by the renewal of your mind<br>
          <span class="versed">
            Romans 12 v2
          </span>
        </p>

        <p>
          Our culture praises self-expression and urges the young to voice their opinions at every opportunity. While we all have the right to an opinion, wise young people recognize that they may not have the wisdom that many older people have earned, so they choose to listen and learn. Proverbs 13:20 says, “Whoever walks with the wise becomes wise, but the companion of fools will suffer harm.” Rather than automatically discounting anything the older generation has to say, a young person desiring to live a Christian life will welcome the lessons learned through the experiences of others. By asking questions, challenging assumptions, and comparing ideas with the principles in God’s Word, you will build a foundation for a well-constructed opinion that is worth voicing.
        </p>

        <p>
          Remain vigilant over the lust of the flesh and sexual sin (1 John 2:15–16).As young people must learn to handle passions, new feelings, and intense desires as they are in the process of becoming adults. The biological surges can feel overwhelming, especially to young men. Sexual lust can hit with such force that a young person who desires to live for Christ may feel out of control at times. God understands, and He has given detailed instruction in His Word to help keep those passions from ruining your life (1 Corinthians 6:18).
        </p>
      </div>
      <img src="{% static 'assets/images/prototype.jpg' %}" alt="">
    </section>

    <div class="faq-holder" id="faq">
      <div class="left-faq">
        <h2>faq</h2>
        <span>Find out what to expect</span>
        <p>Learn more about our values and our story as a church by visiting the about us page.</p>
        <a href="https://www.anglicancommunion.org">
          <button>
            ABOUT US
          </button>
        </a>
      </div>

      <div class="right-faq">
        <ul class="jsRightFaq">
          <li>What is kayo?
            <p>
              Kayo is an anglican communion that brings together teens and young people to help them in christ
            </p>
          </li>
          <li>How do i join Kayo?
            <p>
                A kayo member is one that has taken upon themself to accept christ ,been baptised and confirmed under the anglican doctrines
            </p>
          </li>
          <li>where do i get confirmed?
            <p>
              A confirmation service is held by the bishop where members of the church who have commited to serve christ under the anglican doctrine get welcomed to the anglican fellowship
            </p>
          </li>
          <li>how do i get confirmed?
            <p>
              before a confirmation ceremony a catechism class is offered by the local church where new believers or those wanting to be confirmed are taught the doctrines of the anglican communion
            </p>
          </li>
          <li>who do i see to get catechism classes?
            <p>
              your local reverend or any member of your local church clergy,you may also talk to your friends and they will help you 
            </p>
          </li>
          <li>Can anyone be confirmed?
            <p>
              Yes , if you have been baptised that is
            </p>
          </li>
        </ul>
      </div>
    </div>
  </main>
</body>
</html>