  {% extends "archmain.html" %}
  {% block arch %}
  {% load  static %}

    <section class="messag">
      <img src="{% static 'assets/images/profile.jpg' %}" alt="">
      <div class="themessage">
        <h2>Gather in Community</h2>
        <p>
          Founded in 1976, The Archdeaconary of sotik  was first organized to serve the pepole of sotik and kilgoris ( now part of the Archdeaconary of transmara ), it now serves the parishes of : Manaret, Sotik, Bureti ,Saruchat and Bomet.it currently has a 21 clergy membership,15 layreaders and 6 ordained reverends 5 of whom serve the parshes and one under the chaplainacy of moi minaret,
          <br>
          <br>
          we invite you to fellowship with us at any one of our parishes and know that you will feel blessed
         </p>

         <span> VEN Dominic Santeto
          <br>
          Archdeacon of {{name}}
         </span>
      </div>
    </section>

    {% endblock arch %}

    {% block archdeaconaries %}
    {% load  static %}

    <section class="parishes" id="parishes">
      <h2>PARISHES</h2>
      <div class="parish-holder">
        <div class="parish">
          <h2 class="js-h2">Kilgoris</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">Esoit</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">Masurura</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">Lolgorian</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">Olkeeri</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">Olorropil</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">Naireke Enkare</h2>
        </div>
      </div>
    </section>
    {% endblock archdeaconaries %}