<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static  %}
  <link rel="stylesheet" href="{% static 'styles/universal.css' %}">
  <link rel="stylesheet" href="{% static 'styles/mu.css' %}">
  <link rel="icon" type="image/png" href="{% static 'assets/images/kericho.png'%}">
  <title>mothers union</title>
</head>
<body>
  <header>
    <img src="{% static 'assets/images/mu3.jpg' %}" alt="">
    <div class="overlay-header">
      <div class="logo">
        <h2>
          mothers union 
        </h2>
        <h4>
          kericho
        </h4>
      </div>
      <div class="about-us">
        <h2>
          about us
        </h2>
        <p>
          <a href="{% url 'home' %}">Home</a> &#10072; mothers union
        </p>
      </div>
    </div>
  </header>


  <main>    
    <section class="make sschool">
      <img src="{% static 'assets/images/MU.jpg' %}" alt="">
      <div class="words-yth">
        <h2>
          A LITTLE ABOUT US
        </h2>

        <p>
          The Mothers’ Union is a Christian women organization of the Anglican Communion.The Mothers’ Union of the Anglican Church of Kenya is affiliated to the Mothers’ Union Worldwide and operates under the guidance of the Archbishop and the Diocesan Bishops. The Mothers’ Union has over four million members (as at 2018) in 83 countries globally.

          Mothers’ Union was founded by Mary Sumner in the year 1876 AD. She wanted to create an organization for women that brought together the rich and the poor, the talented and the unskilled, the educated and the illiterate, to build a network that would support Mothers’ of all kinds as they bring up their children in the Christian faith.
        </p>

        <p>
          In Kenya, Mothers’ Union started in 1908 with women’s fellowships amongst the wives of settlers, government officials and church leaders who were enrolled as members in 1918. The first African women were enrolled in 1956. Since then every Diocese in Kenya has consistently and continuously trained and enrolled women into the Mothers’ Union.
        </p>
      </div>
    </section>

    <div class="dept-coordinator">
      <div class="info-dept-cord">
        <h2>
          Departmental head
        </h2>
        <h3>
          &#x275A; MRS JANET LANGAT
        </h3>
        <p>
          diocesian Mu Coordinator
        </p>
      </div>
      <div class="cord-img">
        <img src="{% static 'assets/images/profilef.jpg' %}" alt="">
      </div>
    </div>

    <section class="more-stuff">
      <section class="stuff-more">
        <h2>
          Vision
        </h2>
        <p>
          Our vision is a world where everyone prospers. We actively pursue this vision through prayer and action, helping to build confident people and resilient communities. Our movement seeks to bring about justice, challenge prejudice and advocate change.
        </p>
      </section>

      <section class="stuff-more">
        <h2>
          Mission
        </h2>
        <p>
          We aim to show our Christian faith by helping the sustainable transformation of communities worldwide. We do this by helping to nurture strong relationships at all levels, promoting peace and reconciliation locally, nationally and globally.
        </p>
      </section>

      <section class="stuff-more">
        <h2>
          We aim to:
        </h2>
       <ul>
        <li>
          Encourage parents in their role to develop the faith of their children.
        </li>
        <li>
          Maintain a worldwide fellowship of Christians united in prayer, worship and service.
        </li>
        <li>
          Promote conditions in society favourable to stable family life and the protection of children.
        </li>
        <li>
          Help those whose family life has met with adversity.
        </li>
        <li>
          Promote and support married life.
        </li>
       </ul>
      </section>
    </section>

  </main>
</body>
</html>