<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load  static  %}
  <link rel="stylesheet" href="{% static 'styles/universal.css' %}">
  <link rel="icon" href="{% static 'assets/images/kericho.png' %}">
  <link rel="stylesheet" href="{% static 'styles/schools.css' %}">
  <title>ACKDIOCKCO SCHOOLS</title>
</head>
<body>
  <header>
    <img src="{% static 'assets/images/holy-trinity-academy.jpg' %}" alt="">
    <div class="logo">
     <h1>
      ACKDIOCKCO SCHOOLS
     </h1>
    </div>
    <div class="overlay-sch">
      <div class="enter">
        <h2>
          EDUCATING GLOBAL LEADERS
        </h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia sed consequatur, cumque odit accusamus recusandae sapiente doloremque, minus consectetur eveniet soluta reiciendis veniam?
        </p>
      </div>
    </div>
  </header>

  <main>
    <section class="about-us">
      <h2>welcome to <br> ACKDIOCKCO schools</h2>
      <p>
        since the incorporation of the holy trinity academy(HTA) in 1995 .ACKDIOCKCO has aimed to provide a rich and diverse cirriculum that stimulates learning and alllows all individuals to progress towards their full potential
      </p>
    </section>

    <section class="skanga">
      <img src="{% static 'assets/images/skanga1.jpg' %}" alt="">
      <div class="skanga-words">
        <h2>
          OUR UNIQUE ADVANTAGE
        </h2>
        <p>
          ACK DIOCESE OF KERICHO is proud of the outstanding quality of its educational programs, the professionalism of its staff, the enthusiasm of its pupils, and the high level of parental and community support. We understand that learning is a journey, and we take pride in our dedication to achieving our purpose within our community. We provide a high-quality education that enables our resilient students to explore, engage, and thrive, positively influencing our school, community, and the world as a whole.
        </p>
      </div>
    </section>

    <section class="parishes" id="parishes">
      <h2> our schools</h2>
      <div class="parish-holder">
        <div class="parish">
          <h2 class="js-h2">holy trinity academies</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">ACK grace academy nyagacho</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">All saints academy</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">ebenezer academy</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">omom academy</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">st georges  primary</h2>
        </div>     
        <div class="parish">
          <h2 class="js-h2">st matthews emengetia</h2>
        </div>   
        <div class="parish">
          <h2 class="js-h2">illimarin academy</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">st pauls chepsir</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">st lukes academy</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">st pauls oleendem</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">st peters mogogosiek</h2>
        </div>
        <div class="parish">
          <h2 class="js-h2">rhoda's memorial</h2>
        </div>
      </div>
    </section>
  </main>
</body>
</html>