<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="icon" href="{% static 'assets/images/kericho.png' %}">
  <link rel="stylesheet" href="{% static 'styles/universal.css' %}">
  <link rel="stylesheet" href="{% static 'styles/newmobile.css' %}">
  <link rel="stylesheet" href="{% static 'styles/sschool.css' %}">
  <script src="{% static 'scripts/universal.js' %}" defer></script>
  <title>Document</title>
</head>
<body>
  <header class="header">
    <img src="{% static 'assets/images/sundayschool.avif' %}" alt="">
    <!--div class="header-contents">
      <h2>sunday school</h2>
      <h4>Kericho</h4>
    </!--div--->
  </header>

  <main>
    <section class="make sschool">
      <img src="{% static 'assets/images/imagesbringtochrist.png' %}" alt="">
      <div class="words-yth">
        <h2>
          A Children In Christ
        </h2>

        <p>
          One day children were brought to Jesus in the hope that he would lay hands on them and pray over them. The disciples shooed them off. But Jesus intervened: “Let the children alone, don’t prevent them from coming to me. God’s kingdom is made up of people like these.”  <br>
          <span class="versed">
           Matthew 19 v14
          </span>
        </p>

        <p>
          In Matthew 19 v14 Jesus affirms the importance of children and their place in God's kingdom.Jesus captures his profound love and care for children, emphasizing their innocence and purity as models for entering into a relationship with God. Jesus reveals his tender affection for children. His willingness to bless them and spend time with them demonstrates his compassion and desire for a personal relationship with every individual, regardless of their station in life.
        </p>
      </div>
    </section>

    <section class="make sschool" id="col-reverse">
      <div class="words-yth">
        <h2>
          GUIDANCE IN CHRIST
        </h2>

        <p>
          18 Fix these words of mine in your hearts and minds; tie them as symbols on your hands and bind them on your foreheads. 
          19 Teach them to your children, talking about them when you sit at home and when you walk along the road, when you lie down and when you get up. 20 Write them on the doorframes of your houses and on your gates, 21 so that your days and the days of your children may be many in the land the Lord swore to give your ancestors, as many as the days that the heavens are above the earth.<br>
          <span class="versed">
            Deutoronomy 11 v18-21
          </span>
        </p>

        <p>
          In exodus 20 God gives unto moses the commandents to guide the children of israel.In Deutoronomy he instructs us to impress upon our children the importance of keeping God's commands. we are commanded to "fix these words of mine in your hearts and minds" and to teach them diligently to our children, discussing them at home and on the road, morning and night. In doing this we are promised a long life and prosperity for us and our children in the land God gave to our fathers ,if we forsake his commands we lose on his blessings.
          teachthem in the way of the lord for he 
        </p>

        <!--p>
          Remain vigilant over the lust of the flesh and sexual sin (1 John 2:15–16).As young people must learn to handle passions, new feelings, and intense desires as they are in the process of becoming adults. The biological surges can feel overwhelming, especially to young men. Sexual lust can hit with such force that a young person who desires to live for Christ may feel out of control at times. God understands, and He has given detailed instruction in His Word to help keep those passions from ruining your life (1 Corinthians 6:18).
        <p-->
      </div>
      <img src="{% static 'assets/images/teaching.jpg' %}" alt="">
    </section>

    <section class="make sschool">
      <img src="{% static 'assets/images/trusting-jesus.webp' %}" alt="">
      <div class="words-yth">
        <h2>
          TRUSTING JESUS WITH OUR CHILDREN
        </h2>

        <p>
          In every way,make teaching about God our saviour attractive! <br>
          <span class="versed">
          Titus 2 v10
          </span>
        </p>

        <p>
         May you be creative in your service as you embrace the children under your care with the love of God.May the lord inspire every session you have with the children so that the difficult things become simple for them and the mystries of the gospel of christ accurately explained to them. They will be looking up to you as role model.May you present yourself before them always in a manner that glorifies God in action, speech and character.You are their living,breathing example of what a christian should be.What an amazing assignment!
        </p>
        <p>
          Our prayers are with you as you carry out this noble task
        </p>
      </div>
    </section>

    <!--div class="faq-holder" id="faq">
      <div class="left-faq">
        <h2>faq</h2>
        <span>Find out what to expect</span>
        <p>Learn more about our values and our story as a church by visiting the about us page.</p>
        <button>
          ABOUT US
        </button>
      </div>

      <div class="right-faq">
        <ul class="jsRightFaq">
          <li>What is kayo?
            <p>
              Kayo is an anglican communion that brings together teens and young people to help them in christ
            </p>
          </li>
          <li>How do i join Kayo?
            <p>
                A kayo member is one that has taken upon themself to accept christ ,been baptised and confirmed under the anglican doctrines
            </p>
          </li>
          <li>where do i get confirmed?
            <p>
              A confirmation service is held by the bishop where members of the church who have commited to serve christ under the anglican doctrine get welcomed to the anglican fellowship
            </p>
          </li>
          <li>how do i get confirmed?
            <p>
              before a confirmation ceremony a catechism class is offered by the local church where new believers or those wanting to be confirmed are taught the doctrines of the anglican communion
            </p>
          </li>
          <li>who do i see to get catechism classes?
            <p>
              your local reverend or any member of your local church clergy,you may also talk to your friends and they will help you 
            </p>
          </li>
          <li>Can anyone be confirmed?
            <p>
              Yes , if you have been baptised that is
            </p>
          </li>
        </ul>
      </div>
    </div -->
  </main>
</body>
</html>