header{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 7PX 40PX 7PX 40px;
  position: fixed;
  background-color: aliceblue;
  z-index: 1000;
}

header a{
  display: flex;
  align-items: center;
  color: #222222;
}

header img{
  height: 97px;
}

header ul{
  height: 97px;
  display: flex;
  gap: 23px;
  align-items: center;
  cursor: pointer;

}

.archdeacons-message{
  display: flex;
  background-color: #5C2228;
  color: #222222;
  padding: 130px 70px;
  align-items: center;
}

.archdeacons-message img{
  width: 700px;
  margin-top: 34px;
}

.message{
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  padding: 40px 60px;
  gap: 45px;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.message span{
  font-size: 14px;
}

.message h2{
  font-size: 62px;
}

.message p{
  font-size: 18px;
  width: 400px;
  justify-self: flex-end;
}

.messag{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 50px;
}

.messag img{
  width: 500px;
  position: relative;
  top: -43px;
  
}

.themessage{
  display: flex;
  flex-direction: column;
  width: 47vw;
  justify-self: flex-end;
  gap: 43px;
}

.themessage h2{
  font-size: 62px;
  font-weight: 300;
}

.themessage p{
  font-size: 18px;
  color: rgba(49, 47, 47, 0.674);
}


.parishes{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 43px;
}

.parishes > h2{
  font-size: 63px;
  font-weight: 300;
}

.parish{
  width: 67vw;
  padding-top: 12px;
  padding-bottom: 23px;
  border-bottom: 1px solid  rgba(49, 47, 47, 0.674);
  transition: all ease 300ms;
}

.parish h2{
  font-size: 45px;
  cursor: pointer;
}

.parish p{
  margin-top: 23px;
  display: none;
}

.parish p[data-active]{
  display: block;
}

.final{
  display: flex;
}

.final img{
  width: 900px;
}

.more-p{
  background-color: #5C2228;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-p p{
  width: 34vw;
  color: #FFFFFF;
  font-size: 45px;
}

.more-p span{
  font-size: 23px;
}

@media(max-width:772px){

  .hashbar-container{
    padding: 20px 12px;
  }

  header{
    padding: 10px 2px;
  }

  header a{
    font-size: .6rem;
  }

  header ul{
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    justify-content: center;
    background-color: aqua;
    z-index: -2;
    opacity: 0;
    transition: all ease 400ms;
  }

  header ul a{
    font-size: 1rem;
  }

  header ul[data-active]{
    opacity: 1;
    top: 100px;
  }
  
  .parishes h2{
    font-size: 1rem;
  }

  .parish p{
    font-size: .9rem;
  }

  .final{
    flex-wrap: wrap-reverse;
  }

  .more-p{
    gap: 12px;
    padding: 34px 12px;
  }

  .more-p p{
    width: 98vw;
    font-size: 2rem;
  }
}