* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.top-header {
  position: fixed;
  z-index: 5;
  top: 0px;
  width: 100vw;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 87px 0px 167px;
  background-color: #301d72;
}

.top-header-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.header-info {
  position: relative;
}

.header-info:hover .extension-info {
  display: block;
}

.extension-info {
  display: none;
  position: absolute;
  width: 200px;
  padding: 12px 10px;
  top: 30px;
  background-color: azure;
  list-style: none;
  border: 2px solid;
}

.fa-sort-asc {
  position: absolute;
  font-size: 53px;
  top: -17px;
  color: azure;
  float: left;
}

.extension-info li {
  list-style: none;
  margin-top: 6px;
  font-size: 20px;
  cursor: pointer;
}

.extension-info li:hover {
  text-decoration: underline;
}

.logo-container {
  display: flex;
}

.logo {
  width: 77px;
}

.logo-words {
  cursor: none;
}

.top-words {
  padding: 12px;
  color: #a599ac;
  cursor: pointer;
}

.hashbar-container {
  display: none;
}

.cathedral-box {
  background-image: url("../assets/images/holy-trinity.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 97vh;
  margin-top: 98px;
}

.background-dimmer {
  background-color: #000000b1;
  width: 100%;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-box-cathedral {
  width: 750px;
  text-align: center;
}

h1 {
  margin-top: 50px;
  margin-left: 510px;
  font-size: 60px;
  font-family: "Karla", sans-serif;
  font-weight: lighter;
}

.slider-frame {
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin-left: 100px;
  margin-top: 320px;
  text-align: center;
}

/*---------- SLIDE ANIMATION --------------*/

@keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.slide-images {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  animation-name: slide_animation;
  -webkit-animation-duration: 53s;
  animation-duration: 53s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.img-container {
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
}

.title-slider {
  font-size: 45px;
  color: #af9cbb;
  text-decoration: underline;
}

.content-slider {
  font-size: 40px;
  color: #aba1b2;
  padding: 12px 7px;
  overflow: hidden;
}

.mid-container {
  background-image: linear-gradient(78deg, #af9cbb, #9267ad);
  padding: 54px 65px;
}

.mid-header {
  font-weight: 700;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bishop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  gap: 23px;
  margin: 12px 2px;
  border: 1px solid;
}

.bishop-pic img {
  width: 680px;
}

.bishop-wrds {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  padding-bottom: 34px;
}

.bishop-name {
  color: #100c13;
  font-weight: 600;
  cursor: pointer;
}

.arch-title {
  font-weight: bold;
  font-size: 56px;
  color: aliceblue;
  text-align: center;
}

.archdeaconaries-container {
  background-color: #100c13;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arch-grid {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23px;
  padding-bottom: 23px;
}

.arch {
  position: relative;
  width: 600px;
  height: 400px;
}

.arch img {
  width: 100%;
}

.arch-name {
  position: absolute;
  top: 0;
  left: o;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all ease-in-out 1s;
}

.arch:hover .arch-name {
  opacity: 1;
}

.arch-in {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.582);
  font-size: 34px;
  font-weight: bold;
  color: aliceblue;
}

.dept-container {
  display: flex;
  height: 540px;
  justify-content: center;
  align-items: center;
  gap: 45px;
  background-color: antiquewhite;
}

.dept {
  width: 230px;
  margin: 23px;
  position: relative;
}

.dept-img {
  width: 100%;
  border: 5px solid rgb(71, 71, 152);
  border-radius: 50%;
}

.dept-desc {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 98%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: rgba(28, 135, 135, 0.577);
  border-radius: 50%;
  opacity: 0;
  transition: all ease 2s;
}

.dept:hover .dept-desc {
  opacity: 1;
}

.dept:hover .dept-img {
  border: 9px solid blue;
}

.dept-overlay {
  font-size: 34px;
  font-weight: bold;
  color: rgb(6, 237, 237);
}

.para {
  background-color: rgb(243, 243, 243);
  margin-top: -12px;
}

.para > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 23px 45px;
  gap: 12px;
}

.core-values {
  font-size: 45px;
  text-align: center;
  margin: 12px;
}

.core-intro {
  padding: 7px 43px;
  font-size: 20px;
}

.para .fa-solid,
.para .fa {
  height: 54px;
  width: 54px;
  font-size: 34px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.core-value {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 23px;
  border: 1px solid;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 168px;
  margin: 45px 2px;
}

.info {
  font-size: 23px;
}

.footer-info {
  font-size: 34px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 65px;
  padding: 7px 54px;
  justify-content: space-between;
  text-align: center;
}

.close {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 23px;
}

.ad {
  font-size: 13px;
}
