
header{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

header img{
  width: 97px;
  height: 97px;
  object-fit: cover;
}

header h2{
  font-size: 33px;
  color: #4b4b4b;
}

header h4{
  color: rgb(11, 95, 11);
}

main{
  background-color:#ffffff;
}

.make{
  padding: 100px 70px;
  display: flex;
  gap: 43px;
}

.make img{
  width: 600px;
  height: 700px;
  object-fit: cover;
}

.words-yth{
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.words-yth h2{
  font-size: 52px;
  font-weight: 300;
}

.words-yth p{
  font-size: 23px;
  color: #666b68;
}

@media(max-width:772px){
  header h2{
    font-size: 1rem;
  }

  header{
    gap: 7px;
  }

  header img{
    width: 78px;
    height: 78px;
  }

  header h4{
    font-size: .7rem;
  }

  .make{
    flex-wrap: wrap;
    padding: 40px 26px;
  }

  .make img{
    width: 300px;
    height: 400px;
  }

  .words-yth h2{
    font-size: 2rem;
  }

  .words-yth p{
    font-size: 1.3rem;
  }
}