body {
  display: block;
}

body[data-menu] {
  overflow-y: hidden;
}

body section {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  padding: 7px 3%;
  z-index: 18;
  transition: all 300ms ease-in;
}

.active-header {
  background-color: #353333;
  transition: all 700ms ease-in;
}

header > img {
  width: 90px;
}

.hashbar-container {
  display: block;
}

.hashbar {
  width: 37px;
  height: 5px;
  background-color: gray;
  margin: 10px;
}

.context-menu {
  width: 23vw;
  min-height: 100vh;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 58px 12px 12px 12px;
  border: 1px solid;
  background-color: aliceblue;
  transition: all ease-in 900ms;
  opacity: 0;
  transform: translateX(30vw);
  align-items: flex-start;
  z-index: 1000;
}

.context-menu a {
  color: black;
}

.context-menu[data-active] {
  transform: translateX(0);
  opacity: 1;
  overflow-y: scroll;
}

.context-items {
  display: block;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  min-height: 35px;
  padding: 10px 3%;
  text-align: start;
  font-size: 2em;
}

.x {
  position: absolute;
  top: 28px;
  right: 32px;
  width: 30px;
  height: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  cursor: pointer;
}

.extra {
  opacity: 0;
  height: 0;
  transform: scale(0);
  transition: all ease 900ms, height ease-in 2s;
  padding: 10px 7px 0px 7px;
}

.extra[data-active="true"] {
  transform: scale(1);
  height: inherit;
  opacity: 1;
}

.added-context {
  font-weight: 100;
  transform: rotate(45deg);
  font-size: 22px;
  cursor: pointer;
  align-self: flex-end;
}

.carousel {
  position: relative;
  left: 0;
  top: 0;  
  width: 100vw;
  height: 100vh;
}

.intro {
  width: 100vw;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all ease-in 900ms 100ms;
}

.intro > img {
  width: 100%;
  height: 100vh;
}

.intro[data-active] {
  opacity: 1;
  transition: all 900ms 0ms;
}

.carousel-button {
  position: absolute;
  top: 50%;
  z-index: 20;
  font-size: 3rem;
  background-color: rgba(3, 3, 3, 0.178);
  color: aliceblue;
  cursor: pointer;
}

.carousel-button[data-carousel="prev"] {
  left: 1rem;
}

.carousel-button[data-carousel="next"] {
  right: 1rem;
}

.events-hero {
  display: flex;
  width: 100vw;
  height: 190px;
  background-color: #f23a2e;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.highlight {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  padding: 7px 10px;
  color: #fff;
  display: inline-block;
  background-color: #eec60a;
}

.highlight p {
  margin: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.events-head {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  padding: 7px 10px;
  color: #fff;
  display: inline-block;
}

.mid-container {
  width: 100vw;
  text-align: center;
  padding: 32px 1px;
  margin-top: 12px;
}

.bishop-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 23px;
  background-color: #f8f9fa;
}

.bishop-pic {
  min-width: 200px;
  height: 100%;
  position: relative;
  float: left;
  border: 1px solid;
}

.bishop-pic img {
  width: 100%;
}

.mid-header {
  color: rgba(0, 0, 0, 0.796);
}

.bishop-words {
  padding: 10px 12px;
}

.bishop-wrds {
  margin: 3rem 2rem;
  margin: 7px 12px;
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bishop-name {
  display: flex;
  justify-content: flex-end;
}

.arch-title {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(42, 47, 52);
  text-align: center;
}

.archdeaconaries-container {
  width: 100vw;
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arch-grid {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23px;
  padding-bottom: 23px;
}

.arch {
  position: relative;
  min-width: 100px;
}

.arch img {
  width: 100%;
}

.arch-name {
  position: absolute;
  top: 0;
  left: o;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all ease-in-out 1s;
}

.arch:hover .arch-name {
  opacity: 1;
}

.arch-in {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.582);
  font-size: 34px;
  font-weight: bold;
  color: aliceblue;
}

.thissection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #739284c8;
  width: 100vw;
  height: 400px;
}

.section-words {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.dept-holder {
  width: 89vw;
}

.dept-grid {
  display: flex;

  padding: 12px;
}

.dept-container {
  width: 100%;
  position: relative;
}

.dept-container > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.overlay-dept {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #100c1360;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease-in-out 700ms;
}

.overlay-dept:hover {
  background-color: #100c13b4;
}

.overlay-dept:hover .overlay {
  transform: scale(1);
}

.overlay {
  transform: scale(0);
  transition: all ease-in 700ms;
  color: #fff;
}

.overlay-dept img {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

footer {
  width: 100vw;
  position: relative;
}

footer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.overlay-footer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.614);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.overlay-footer a {
  color: #fff;
}

.footer-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 12px;
}

.footer-container {
  width: 100%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#about-us button {
  height: 32px;
  padding: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 0.9rem;
  border-radius: 42px;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 100px 12px;
  gap: 56px;
  background-color: aliceblue;
}

.discover h2 {
  font-size: 62px;
  font-weight: 400;
}

.discover-more {
  display: flex;
  align-items: center;
  gap: 300px;
  background-color: aliceblue;
}

.discover-holders,
.discover-holders a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.discover-holders img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: fill;
  object-position: center;
}

.discover-holders span {
  font-size: 18px;
  color: #332a2a;
}
