@media(max-width:772px){
  .context-menu{
    width: 78vw;
    min-height: 100vh;
    transform: translateX(78vw);
    padding-top: 130px;
    font: 1em sans-serif;
  }

  .carousel{
    height: 67vh;
  }

  .carousel-button{
    background-color: transparent;
    font-size: 2rem;
  }
  .intro{
    height: 67vh;
  }

  .intro img{
    height: 67vh;
    object-fit: fill;
  }

  .intro h2{
    font-size: 1rem;
  }

  .intro p{
    font-size: 1rem;
  }

  .exp{
    padding: 10px;
  }

  .bishop-container{
    display: block;
    width: 100vw;
  }

  .bishop-pic{
    float: left;
    margin: 7px;
  }

  .bishop-pic>img{
    width: 240px;
  }

  .archdeaconaries-container{
    width: 100vw;
  }
  
  .arch-title{
    font-size: 1rem;
    margin-bottom: 12px;
  }

  .arch-grid{
    grid-template-columns: 1fr;
    width: 98vw;
    gap: 34px;
    justify-items:center;
    align-items: center;
  }

  .arch{
    width: 80%;
    height: inherit;
  }

  .arch > img{
    width: 100%;
  }

  .arch-name{
    opacity: .8;
  }

  .verse-of img{
    height: 300px;
    object-fit: cover;
  }

  .verse-of .background-dimmer .background-words p{
    font-size: 1rem;
  }

  .verse-of .background-dimmer .background-words h2{
    font-size: 1rem;
  }

  .thissection{
    height: inherit;
  }

  .section-words{
    font-size: 1rem;
  }

  .dept-grid{
    flex-direction: column;

  }

  .overlay-dept{
    background-color: #100c13b4;
  }
  
  .overlay{
    transform: scale(1);
    opacity: .7;
  }

  footer{
    height: inherit;
  }

  footer img{
    height: 87vh;
    object-fit: cover;
    object-position: center;
  }

  .footer-holder{
    flex-direction: column;
    padding: 12% 7px;
    justify-content: center;
  }

  .hashbar-container{
    display: block;
    position: absolute;
    align-self: center;
    right: 0;
  }

  .holy-trinity{
    font-size: .7rem;
  }

  .hero{
    position: absolute;
    width: 100vw;
    top: 97px;
    flex-direction: column;
    justify-content: center;
    justify-self: end;
    left: 50%;
    transform: translate(-50%, -40vh);
    transition: all ease 500ms;
    height: 0;
  }

  .hero[data-active]{
    transform: translate(-50%, 0);
    height: inherit;
  }

  .hero ul{
    flex-direction: column;
    font-size: 1rem;
    margin: 7px;
  }

  .socials ul{
    flex-direction: row;
  }

  .added {
    position: static;
    display: none;
    transform: scale(0);
    padding: 9px;
  }

  .added  li{
    font-size: .9rem;
    transform: scale(0);
  }

  .added[data-active]{
   
    display: block;
    transform: scale(1);
  }

  .added[data-active] li{
    height: inherit;
    transform: scale(1);
  }

  .fa-chevron-down[active]{
    transform: rotate(180deg);
    transition: all ease-in 300ms 300ms;
  }

  .cathedral-dimmer{
    flex-direction: column;
    justify-content: center;
    gap: 23px;
  }

  .banner-int{
    width: 45vw;
    gap: 12px;
  }

  .banner-int h2{
    font: .6em sans-serif;
  }
  
  .banner-intro h2{
    font-size: 1.9em;
    text-align: center;
  }

  .welcoming-message{
    height: inherit;
  }

  .holder-welcome{
    padding: 56px 7px;

  }

  .holder-welcome p{
    font-size: 1em;
  }
 
  .cathedral-events{
    height: inherit;
    padding: 37px 23px;
  }

  .time,.events-con,.month,.day{
    font-size: .9em;
  }

  .cathedral-events>span{
    font-size: 1em;
  }

  .more-about-anglican{
    flex-wrap: wrap;    
  }

  .inner-holder button{
    width: 100px;
    font-size: .5em;
  }

  .another-section{
    flex-wrap: wrap-reverse;
  }

  .the-other h2,.inner-holder h2{
    font-size: 1rem;
  }

  .the-other p,.inner-holder p{
    font-size: .6rem;
  }

  .faq-holder{
    flex-wrap: wrap;
  }

  .left-faq{
    padding: 40px ;
  }

  .right-faq{
    width: 100vw;
    font-size: 1rem;
  }

  .right-faq ul li p{
    font-size: 1rem;
  }

  .archdeacons-message{
    flex-wrap: wrap;
    padding: 130px 13px;
    gap: 23px;
  }

  .archdeacons-message img{
    justify-self: center;
    margin-top: 12px;
    width: 300px;
    align-self: center;
  }

  .message{
    height: inherit;
    width: 78vw;
    padding: 12px 20px;
    gap: 10px;
  }

  .message span{
    font:  .9rem;
  }

  .message h2{
    font-size: 1rem;
  }

  .message p{
    width: 54vw;
    font-size: .7rem;
    justify-self: center
  }

  .messag{
    width: 100vw;
    flex-wrap: wrap;
    padding: 0  10px 10px 34px;
    gap: 20px;
  }

  .messag img{
    width: 300px;
  }

  .themessage{
    width: 100vw;
  }

  .themessage h2{
    font-size: 2rem;    
  }

  .themessage p{
    padding-bottom: 12px;
    font-size: 1rem;
  }

  .short {
    padding-left: 23px;
  }

  .short h2{
    font-size: 2rem;
  }

  .short ul{
    font-size: .8rem;
    flex-direction: column;
    gap: 12px;
    align-self: center;
  }

  .short li{
    border-right: none;
    border-bottom: 1px solid rgba(49, 47, 47, 0.674);
    padding: 12px 6px;
  }

  .discover-more{
    flex-direction: column;
    gap: 34px;
  }

  .upper-section{
    height: 100px;
  }

  .upper-section h2{
    font-size: 1.5rem;
  }

  .upper-section p{
    font-size: .9rem;
  }

  .introd{
    flex-wrap: wrap;
    gap: 23px;
    padding: 1rem;
  }

  .introd .img-section {
    height: 400px;
  }

  .introd .img-section .verse{
    right: 0;
    bottom: 0;
  }

  .introd .img-section .verse p{
    font-size: 1rem;
  }

  .introd .rando {
    padding: 2rem;
  }

  .sect{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 63px;
  }
}
